aiokafka==0.7.2
confluent-kafka==2.1.1
djitellopy==2.5.0
kafka-python==2.0.2
numpy==1.23.5
opencv-python==4.9.0.80
pandas==2.2.0
PyYAML==6.0
ultralytics
supervision
who-is-on-my-wifi
wmi
Flask==2.3.2
Flask-SocketIO==5.3.4
python-dotenv
